<!DOCTYPE html>
<html>
<head>
	<title>Lost and Found</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<style type="text/css">
	  	.center {
			text-align: center;
		}
		.absoluteCenter {
		   	position: fixed;
		    width: 20%; /* Set your desired with */
		    z-index: 2; /* Make sure its above other items. */
		    top: 50%;
		    left: 50%;
		    margin-top: -10%; /* Changes with height. */
		    margin-left: -10%; /* Your width divided by 2. */
		}
		.createPad {
			background-color: white;
			padding: 2em
		}
	</style>
</head>
<body style="background-image:url(background.jpg); background-repeat:no-repeat; background-size:cover;">
	<img src="LostLogo.png" alt="logo" style="width:100px;height:100px; float: left">
	<div style="color: black; font-size: 40px; font-weight: bold;">Lost and Found</div>
	<div class="center absoluteCenter createPad">
		<form action="/adduser" method="post">
		    <div class="form-group">
		    	<label for="username">Username:</label>
		    	<input type="username" class="form-control" id="username" name="username">
		  	</div>
		  		<div class="form-group">
		    	<label for="pwd">Password:</label>
		    	<input type="password" class="form-control" id="pwd" name="password">
		  	</div>
		  	<div>
		  		<div class="form-group">
			    	<label for="pwdR">Retype Password:</label>
			    	<input type="password" class="form-control" id="pwdR" name="password">
		  		</div>

		  		<button id="register" type="submit" class="btn btn-primary">Register</button>

		  	<div>
		  		<br>
		  		<label>Already have an account? </label>
		  	</div>
		</form>
			<button id="signIn" type="submit" class="btn btn-primary">Sign In</button>
	</div>

	<!--<script>src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"</script>
	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyC9E47SNp6jQjpzVOEM9C0cs_lfpiteWgk",
	    authDomain: "apollo11-c12fd.firebaseapp.com",
	    databaseURL: "https://apollo11-c12fd.firebaseio.com",
	    storageBucket: "apollo11-c12fd.appspot.com",
	    messagingSenderId: "839183558758"
	  };
	  firebase.initializeApp(config);
	</script>-->
	<script>
	$(document).ready(function() {

		$('#signIn').click(function(event){
			event.preventDefault();
			window.location.replace("signin");
		})

	    $('#register').click(function() {
	        var name = $('#username').val();
	        var password = $('#pwd').val();
	        var password2 = $('#pwdR').val();
	        if(name === "" || password === ""){
	        	alert("Username/password cannot be blank!");
	        	return false;
	        }
	        if(password != password2){
	        	alert("Passwords do not match!");
	        	return false;
	        }
	        console.log(name);
	        console.log(password);
	        firebase.auth().createUserWithEmailAndPassword(name, password).catch(function(error){
	        		console.log(error.code);
	        		console.log(error.message);
	        		alert(error.message);
	        	});
	    	});

	    $('#login').click(function() {
	        var name = $('#username').val();
	        var password = $('#pwd').val();
	        var password2 = $('#pwdR').val();
	        if(name === "" || password === ""){
	        	alert("Username/password cannot be blank!");
	        	return false;
	        }
	        if(password != password2){
	        	alert("Passwords do not match!");
	        	return false;
	        }
	        console.log(name);
	        console.log(password);
	        firebase.auth().signInWithEmailAndPassword(name, password).catch(function(error){
	        		console.log(error.code);
	        		console.log(error.message);
	        		alert(error.message);
	        	});
	    	});
	});
    </script>
</body>
</html>